html body .content {
    padding: 0;
    position: relative;
    transition: 300ms ease all;
    backface-visibility: hidden;
    min-height: calc(100% - 44px);
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.4rem 0.6rem;
}
